@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    background-color: rgb(8, 8, 96) !important;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}
.d-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
    
}
.fa-sharp.fa-solid{
    cursor: pointer;
    color: white;
}
.image{
    height: 100vh;
}
.carousel-caption{
    position: absolute;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.42);
    height: 200px;
    width: 70%;
    text-align: center;
    position: absolute;
    right: 20px;
    padding: 15px;
    border-radius: 6px;
}
.carousel-caption h5{
    color: rgb(8, 8, 96) !important;
    font-weight: bold;
    font-size: 25px;
}
.carousel-caption p{
  font-size: 18px;
}
.carousel-caption .prag1::after {
    content: "|";
    animation: typing1 4s infinite;
    color: rgb(18, 18, 224);
}

.carousel-caption .prag2::after {
    content: "|";
    animation: typing2 4s infinite;
    color: rgb(18, 18, 224);
}

.carousel-caption .prag3::after {
    content: "|";
    animation: typing3 4s infinite;
    color: rgb(18, 18, 224);
}


@keyframes typing1 {
    0% {
        content: "|";
    }

    1.5% {
        content: "م|";
    }

    3% {
        content: "من|";
    }

    4.5% {
        content: "منهج|";
    }

    6% {
        content: "منهجي|";
    }

    7.5% {
        content: "منهجية";
    }

    9% {
        content: "منهجية |";
    }

    10.5% {
        content: "منهجية ك|";
    }

    12% {
        content: "منهجية كت|";
    }

    13.5% {
        content: "منهجية كتا|";
    }

    15% {
        content: "منهجية كتاب|";
    }

    16.5% {
        content: "منهجية كتابة|";
    }

    18% {
        content: " منهجية كتابة|";
    }

    19.5% {
        content: "منهجية كتابة ا|";
    }

    21% {
        content: "منهجية كتابة ال|";
    }

    22.5% {
        content: " منهجية كتابة الن|";
    }

    24% {
        content: "منهجية كتابة النص|";
    }

    25.5% {
        content: "منهجية كتابة النص |";
    }

    27% {
        content: "منهجية كتابة النص ا|";
    }

    28.5% {
        content: "منهجية كتابة النص ال|";
    }

    30% {
        content: "منهجية كتابة النص الع|";
    }

    31.5% {
        content: "منهجية كتابة النص العل|";
    }

    33% {
        content: "منهجية كتابة النص العلم|";
    }

    34.5% {
        content: "منهجية كتابة النص العلمى|";
    }

    36% {
        content: "منهجية كتابة النص العلمى |";
    }

    37.5% {
        content: "منهجية كتابة النص العلمى ب|";
    }

    39% {
        content: "منهجية كتابة النص العلمى بش|";
    }

    40.5% {
        content: "منهجية كتابة النص العلمى بشك|";
    }

    42% {
        content: "منهجية كتابة النص العلمى بشكل|";
    }

    43.5% {
        content: "منهجية كتابة النص العلمى بشكل |";
    }

    45% {
        content: "منهجية كتابة النص العلمى بشكل د|";
    }

    46.5% {
        content: "منهجية كتابة النص العلمى بشكل دق|";
    }

    48% {
        content: "منهجية كتابة النص العلمى بشكل دقي|";
    }

    49.5.% {
        content: "منهجية كتابة النص العلمى بشكل دقيق|";
    }

    51% {
        content: "منهجية كتابة النص العلمى بشكل دقيق |";
    }

    52.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق ي|";
    }

    54% {
        content: "منهجية كتابة النص العلمى بشكل دقيق ير|";
    }

    55.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يرا|";
    }

    57% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراع|";
    }

    58.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى|";
    }

    60% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى |";
    }

    61.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى ف|";
    }

    63% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى في|";
    }

    64.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه|";
    }

    66% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه |";
    }

    67.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه ا|";
    }

    69% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه ال|";
    }

    70.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه الت|";
    }

    72% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التع|";
    }

    73.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعب|";
    }

    75% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبي|";
    }

    76.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير|";
    }

    78% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير |";
    }

    79.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير ا|";
    }

    81% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير ال|";
    }

    82.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير الع|";
    }

    84% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير العل|";
    }

    85.5% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير العلم|";
    }

    87% {
        content: "منهجية كتابة النص العلمى بشكل دقيق يراعى فيه التعبير العلمى|";
    }

}


@keyframes typing2 {
    0% {
        content: "|";
    }

    1.5% {
        content: "ا|";
    }

    3% {
        content: "ال|";
    }

    4.5% {
        content: "الع|";
    }

    6% {
        content: "العل|";
    }

    7.5% {
        content: "العلم|";
    }

    9% {
        content: "العلم |";
    }

    10.5% {
        content: "العلم ه|";
    }

    12% {
        content: "العلم هو|";
    }

    13.5% {
        content: "العلم هو |";
    }

    15% {
        content: "العلم هو ا|";
    }

    16.5% {
        content: "العلم هو ال|";
    }

    18% {
        content: " العلم هو الس|";
    }

    19.5% {
        content: "العلم هو السب|";
    }

    21% {
        content: "العلم هو السبي|";
    }

    22.5% {
        content: " العلم هو السبيل|";
    }

    24% {
        content: "العلم هو السبيل |";
    }

    25.5% {
        content: "العلم هو السبيل ل|";
    }

    27% {
        content: "العلم هو السبيل لت|";
    }

    28.5% {
        content: "العلم هو السبيل لتق|";
    }

    30% {
        content: "العلم هو السبيل لتقد|";
    }

    31.5% {
        content: "العلم هو السبيل لتقدم|";
    }

    33% {
        content: "العلم هو السبيل لتقدم |";
    }

    34.5% {
        content: "العلم هو السبيل لتقدم و|";
    }

    36% {
        content: "العلم هو السبيل لتقدم ور|";
    }

    37.5% {
        content: "العلم هو السبيل لتقدم ورق|";
    }

    39% {
        content: "العلم هو السبيل لتقدم ورقى|";
    }

    40.5% {
        content: "العلم هو السبيل لتقدم ورقى |";
    }

    42% {
        content: "العلم هو السبيل لتقدم ورقى ا|";
    }

    43.5% {
        content: "العلم هو السبيل لتقدم ورقى ال|";
    }

    45% {
        content: "العلم هو السبيل لتقدم ورقى الم|";
    }

    46.5% {
        content: "العلم هو السبيل لتقدم ورقى المج|";
    }

    48% {
        content: "العلم هو السبيل لتقدم ورقى المجت|";
    }

    49.5.% {
        content: "العلم هو السبيل لتقدم ورقى المجتم|";
    }

    51% {
        content: "العلم هو السبيل لتقدم ورقى المجتمع|";
    }

}


@keyframes typing3 {
    0% {
        content: "|";
    }

    1.5% {
        content: "م|";
    }

    3% {
        content: "مع|";
    }

    4.5% {
        content: "معه|";
    }

    6% {
        content: "معهد|";
    }

    7.5% {
        content: "معهد ";
    }

    9% {
        content: "معهد ت|";
    }

    10.5% {
        content: "معهد تك|";
    }

    12% {
        content: "معهد تكن|";
    }

    13.5% {
        content: "معهد تكنو|";
    }

    15% {
        content: "معهد تكنول|";
    }

    16.5% {
        content: "معهد تكنولو|";
    }

    18% {
        content: " معهد تكنولوج|";
    }

    19.5% {
        content: "معهد تكنولوجي|";
    }

    21% {
        content: "معهد تكنولوجية|";
    }

    22.5% {
        content: " معهد تكنولوجية |";
    }

    24% {
        content: " معهد تكنولوجية ا|";
    }

    25.5% {
        content: " معهد تكنولوجية ال|";
    }

    27% {
        content: " معهد تكنولوجية الم|";
    }

    28.5% {
        content: " معهد تكنولوجية المع|";
    }

    30% {
        content: " معهد تكنولوجية المعل|";
    }

    31.5% {
        content: " معهد تكنولوجية المعلو|";
    }

    33% {
        content: " معهد تكنولوجية المعلوم|";
    }

    34.5% {
        content: " معهد تكنولوجية المعلوما|";
    }

    36% {
        content: " معهد تكنولوجية المعلومات|";
    }

    37.5% {
        content: " معهد تكنولوجية المعلومات |";
    }

    39% {
        content: "معهد تكنولوجية المعلومات ي|";
    }

    40.5% {
        content: "معهد تكنولوجية المعلومات ين|";
    }

    42% {
        content: "معهد تكنولوجية المعلومات ينظ|";
    }

    43.5% {
        content: "معهد تكنولوجية المعلومات ينظم|";
    }

    45% {
        content: "معهد تكنولوجية المعلومات ينظم |";
    }

    46.5% {
        content: "معهد تكنولوجية المعلومات ينظم ف|";
    }

    48% {
        content: "معهد تكنولوجية المعلومات ينظم فع|";
    }

    49.5.% {
        content: "معهد تكنولوجية المعلومات ينظم فعا|";
    }

    51% {
        content: "معهد تكنولوجية المعلومات ينظم فعال|";
    }

    52.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعالي|";
    }

    54% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليا|";
    }

    55.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات|";
    }

    57% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات |";
    }

    58.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات م|";
    }

    60% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات مع|";
    }

    61.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معس|";
    }

    63% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسك|";
    }

    64.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر|";
    }

    66% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر |";
    }

    67.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر ا|";
    }

    69% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر ال|";
    }

    70.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر الت|";
    }

    72% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر التد|";
    }

    73.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر التدر|";
    }

    75% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر التدري|";
    }

    76.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكر التدريب|";
    }

    78% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب |";
    }

    79.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب ا|";
    }

    81% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب ال|";
    }

    82.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب الص|";
    }

    84% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب الصي|";
    }

    85.5% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب الصيف|";
    }

    87% {
        content: "معهد تكنولوجية المعلومات ينظم فعاليات معسكرالتدريب الصيفى|";
    }

}
.icon{
    position: absolute;
    top: 180px;
    transform: translateX(-50%);
    left: 63%;
}
@media (max-width:768px) {
    .icon{
         display: none;
    }  
}
.icon .fa-sharp{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(8, 8, 96);
}
.icon button{
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: rgb(8, 8, 96);
    transition: 0.9s;
}

.icon button:hover{  
    background-color: white;
}
.icon a{
    text-decoration: none;
    color: white;
}
.icon a:hover{
    color: rgb(8, 8, 96);
}
.pop-over{
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.506);
}
.my-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.pop-over .vid{
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}


footer{
    background-color: rgb(8, 8, 96);
    color: white;
    padding: 30px 0;
}

footer .row{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
footer .pay , footer .phone , footer .email{
    margin-bottom: 20px;
    text-align: center;
}
footer .fa-brands , footer .fa-solid{
    color: white;
    font-size: 25px;
    margin-left: 5px;
}

footer .fa-brands:hover , footer .fa-solid:hover{
    color: rgb(226, 226, 252);
}

footer .fa-phone{
    font-size: 18px !important;
}

.email .email_1 , .email .email_2{
    display: flex;
    display: flex;
    justify-content: center;
}
.email a{
    text-decoration: none;
    color: white;
}
.email .fa-envelope{
    font-size: 18px;
}